@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(0, 154, 201);
}
header {
    text-align: center;
    color: white;
    margin: 30px;
}
section {
    width: 500px;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.377);
    
}

input#txti{
    width: 157px;
}

input#txtp{
    width: 150px;
}

input#txtf{
    width: 166px;
}


p {
    margin: 10px;
}
footer {
    text-align: center;
    margin: 30px;
    color: white;
    font-weight: bold;
}