@charset "UTF-8";

* {
    margin: 5px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(0, 154, 201);
}
header {
    text-align: center;
    color: white;
    margin: 15px;
}
section {
    width: 500px;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.377);
    
}
select {
    width: 170px;
}
footer {
    text-align: center;
    margin: 15px;
    color: white;
    font-weight: bold;
}